@import "mixins";

html,
body  {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif !important;
  scroll-behavior: smooth;
  scroll-padding-top: 3.9rem; /* height of sticky navbar */

  background-color: var(--background) !important;
  color: var(--text) !important;
  transition: background-color 1.5s ease, color 1.5s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


:root {
  --background-light: #ffffff;
  --text-light: #121212;
  --background-dark: #121212;
  --text-dark: rgba(255, 255, 255, 0.9);
  --heading-underline1-light: #111;
  --heading-underline2-light: #333;
  --heading-underline1-dark: #eeeeee;
  --heading-underline2-dark: #cccccc;
  --project-details-light: #f1f1f1;
  --project-details-dark: #2c2c2c;
  --svg-light: invert(0%) sepia(2%) saturate(1373%) hue-rotate(357deg) brightness(106%) contrast(86%);
  --svg-dark: invert(100%) sepia(100%) saturate(0%) hue-rotate(115deg) brightness(104%) contrast(102%);
  --form-input-light: #ffffff;
  --form-input-dark: #2c2c2c;
}


@media(prefers-color-scheme: light) {
  :root {
    --background: var(--background-light);
    --text: var(--text-light);
    --heading-underline1: var(--heading-underline1-light);
    --heading-underline2: var(--heading-underline2-light);
    --project-details: var(--project-details-light);
    --svg-color: var(--svg-light);
    --form-input: var(--form-input-light);
  }
}


@media(prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --text: var(--text-dark);
    --heading-underline1: var(--heading-underline1-dark);
    --heading-underline2: var(--heading-underline2-dark);
    --project-details: var(--project-details-dark);
    --svg-color: var(--svg-dark);
    --form-input: var(--form-input-dark);
  }
}


[color-scheme="light"] {
  --background: var(--background-light);
  --text: var(--text-light);
  --heading-underline1: var(--heading-underline1-light);
  --heading-underline2: var(--heading-underline2-light);
  --project-details: var(--project-details-light);
  --svg-color: var(--svg-light);
  --form-input: var(--form-input-light);
}


[color-scheme="dark"] {
  --background: var(--background-dark);
  --text: var(--text-dark);
  --heading-underline1: var(--heading-underline1-dark);
  --heading-underline2: var(--heading-underline2-dark);
  --project-details: var(--project-details-dark);
  --svg-color: var(--svg-dark);
  --form-input: var(--form-input-dark);
}


#navbar {
  .nav-link {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text);
  }

  #theme-btn {
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    color: var(--text);
  }
}

.navbar-not-scrolled {
  background-color: var(--background) !important;
  transition: background-color 1.5s ease, color 1.5s ease;
}

.navbar-scrolled {
  background-color: var(--project-details) !important;
  transition: background-color 1.5s ease, color 1.5s ease;
}


#hero {
  height: 90vh !important;
  height: -webkit-fill-available;
  position: relative;


  #big-column {
    position: relative;
  }

  #small-column {
    position: relative;
  }

  #static-text {
    position: absolute;
    top: 27%;
    left: 2.5rem;
    font-size: 2.2rem;
    font-weight: 700;
  }

  #changing-text {
    position: absolute;
    top: 43%;
    left: 2.5rem;
    font-size: 1.7rem;
    font-style: italic;
  }

  #contact {
    position: absolute;
    bottom: 0;
    left: 2rem;
  }


}


.icons {
  font-size: 2rem;
  margin: 1rem 0.5rem;
  border: none;
  background-color: transparent;

  &:hover {
    opacity: 0.7;
  }
}

.default {
  color: var(--text);
}

.whatsapp {
  color: #25D366;
}

.twitter {
  color: #1DA1F2;
}

.linked {
  color: #0072b1;
}


.heading {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 6px;
  position: relative;
  text-transform: capitalize;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 52px;
    background-color: var(--heading-underline1);
    transition: background-color 1.5s ease, color 1.5s ease;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 133px;
    background-color: var(--heading-underline2);
    transition: background-color 1.5s ease, color 1.5s ease;
  }
}


.heading2 {
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
}


.paragraph {
  text-align: justify;
  font-size: 20px;
}


.form-control {
  background-color: var(--form-input) !important;
  color: var(--text) !important;
  transition: background-color 1.5s ease, color 1.5s ease !important;
}

// color during form autocomplete
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--form-input) inset !important;
  -webkit-text-fill-color: var(--text);
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--form-input) inset !important;
  -webkit-text-fill-color: var(--text);
}


#skills {
  .skills-list {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .skill-item {
    object-fit: cover;
    object-position: center center;
    width: 80px;
  }

  .skill-name {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    width: 48px;
    font-size: 0.8rem;
  }
}


#projects {

  .project-item {
    position: relative;
    margin: 3rem 0;
    height: 28rem;
    border-radius: 10px;
  }

  .project-details {
    background-color: var(--project-details);
    position: relative;
    padding: 1rem 0 1rem 1rem;
    transition: background-color 1s ease;
  }

  .project-details-extended {
    background-color: var(--project-details);
    transition: background-color 1s ease;
  }

  .project-heading {
    text-align: center;
    font-weight: 600;
  }

  .project-description {
    margin-top: 1rem;
    text-align: justify;
  }

  .tech-used {
    position: absolute;
    bottom: 15%;
  }

  .project-links {
    position: absolute;
    bottom: 5%;
  }

  .project-preview {
    position: absolute;
    top: 3%;
    left: 52%;
    width: 35rem;
    height: 26rem;
  }

  .project-preview-md {
    display: none;
  }

  .svg {
    margin-bottom: 1rem;
    filter: var(--svg-color);
  }

  .svg-small {
    margin-bottom: 1rem;
    height: 30px;
    width: 30px;
  }

  .small-project-item {
    background-color: var(--project-details);
    transition: background-color 1s ease;
  }

  .big-tech {
    font-size: 1.8rem;
  }

  .small-tech {
    font-size: 1.5rem;
  }
}


#contact-form {
  #contact {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
  }
}


#footer {
  display: flex;
  justify-content: center;
  //font-size: 1.2rem;
}


.scroll-to-top {
  position: relative;

  .icon-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }

  .icon-style {
    background-color: var(--background);
    color: var(--text);
    font-size: 1rem;
    border: 2px solid var(--project-details);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out, background-color 1.5s ease, color 1.5s ease;
  }

  .icon-style:hover {
    background: var(--project-details);
    border: 2px solid var(--text);
  }
}