//large
@media (max-width: 1199.98px) {
  #projects {
    .project-item {
      margin: 3rem 0;
      height: 31rem;
    }

    .project-details {
      position: relative;
    }

    .project-preview {
      top: 15%;
      left: 51%;
      width: 29rem;
      height: 22rem;
    }
  }
}

//medium
@media (max-width: 991.98px) {

  #navbar {
    .nav-link, #theme-btn {
      font-size: 1.2rem;
    }
  }

  #hero {
    #static-text {
      font-size: 1.8rem;
    }

    #changing-text {
      top: 40%;
      font-size: 1.5rem;
    }

  }

  .icons {
    font-size: 1.7rem;
  }

  .heading {
    margin-top: 4rem;
    font-size: 1.8rem;

    &:before {
      width: 44px;
    }

    &:after {
      max-width: 108px;
    }
  }

  .heading2 {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: 18px;
  }

  #projects {

    .project-item {
      height: 46rem;
    }

    .project-details {
      padding: 1rem;
    }

    .tech-used {
      bottom: 8%;
    }

    .project-links {
      bottom: 2%;
    }

    .project-details-extended {
      display: none;
    }

    .project-preview {
      display: none;
    }

    .project-preview-md {
      display: flex;
      justify-content: center;
    }

    .project-preview-md-container {
      width: 100%;
      height: 20rem;
    }
  }
}

//small
@media (max-width: 767.98px) {
  #hero {
    #small-column {
      display: none;
    }

    #static-text {
      left: 1rem;
    }

    #changing-text {
      top: 39%;
      left: 1rem;
    }

    #contact {
      left: 0;
      width: 100vw;
      display: flex;
      justify-content: space-evenly;
    }
  }

  #about{
    .about-photo-container{
      padding: 0 7.5rem;
      margin-bottom: 1rem;
    }

    .about-photo{
      position: relative;
      width: 100%;
      height: 14rem;
    }
  }

  #skills {
    .skill-name {
      margin: 0.3rem 0;
    }
  }

  #projects {
    .project-item {
      height: 49rem;
    }

    .project-preview-md-container {
      height: 13rem;
    }

    .tech-used {
      bottom: 7%;
    }

    .big-tech {
      font-size: 1.6rem;
    }
  }
}

//xs
@media (max-width: 404px) {
  #hero {
    #changing-text {
      top: 50%;
    }
  }
}

/* CSS specific to iOS devices */
@supports (-webkit-touch-callout: none) {
  #hero {
    #contact {
      bottom: 12%;
    }
  }

  .ios {
    margin-top: 0 !important;
  }

  #contact {
    .icons {
      padding: 0.5rem;
      margin: 0.5rem;
    }
  }

  #footer{
    margin-bottom: 1.5rem;
  }
}